[submodule "vendor/coreboot"]
	path = vendor/coreboot
	url = https://review.coreboot.org/coreboot.git
[submodule "vendor/cross"]
	path = vendor/cross
	url = https://github.com/tailix/cross.git
	ignore = dirty
[submodule "vendor/libkernaux"]
	path = vendor/libkernaux
	url = https://github.com/tailix/libkernaux.git
[submodule "vendor/seabios"]
	path = vendor/seabios
	url = https://review.coreboot.org/seabios.git
