*.a
*.bin
*.c.d
*.o
.deps/
.dirstamp

/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/autoscan.log
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/configure.ac~
/configure.scan
/configure~
/depcomp
/install-sh
/missing
/stamp-h1
/test-driver
/test-suite.log
/tests/test*.log
/tests/test*.trs

/build/native/*
!/build/native/.keep
